/applicationLibraries.xml
/ClojureUsageStatistics.xml
/ClojureUsageStatisticsSettings.xml
/colors.scheme.xml
/CursiveLicence.xml
/dimensions.xml
/feature.usage.statistics.xml
/filetypes.xml
/find.recents.xml
/find.xml
/images.support.xml
/jdk.table.xml
/options.xml
/packages.xml
/path.macros.xml
/project.default.xml
/recentProjects.xml
/security.xml
/statistics.application.usages.xml
/ui.lnf.xml
/updates.xml
/usageView.xml
/window.manager.xml
/window.state.xml
