/*
!/.atom/
!/.bash_profile
!/.bashrc
!/bin/
!/.config/
!/dropbox
!/.emacs
!/emacs/
!/.emacs.d/
!/.gitignore/
!/.gradle/
!/.IntelliJIdea14/
!/.IntelliJIdea15/
!/.kde/
!/.idea/
!/.latexmkrc
!/.local/
!/nix/
!/oseary
!/.sbt/
!/.tmux.conf
!/.vimrc
