[submodule "nix-master"]
	path = nix/path/master
	url = /home/chris/nixpkgs
	branch = master
[submodule "nix-16.09"]
	path = nix/path/release-16.09
	url = /home/chris/nixpkgs
	branch = release/16.09
[submodule "nix-unstable"]
	path = nix/path/unstable
	url = /home/chris/nixpkgs
	branch = unstable
