/*

!/.cabal
/.cabal/*
!/.cabal/config

!/.bash_profile
!/.bashrc
!/bin/
!/.audacity-files
!/.darcs
!/dropbox
!/.gitignore
!/.haskeline
!/.latexmkrc
!/.password-store
!/.vimrc
!/code

!/.config/
/.config/*
!/.config/autostart/
!/.config/git/
/.config/git/*
!/.config/python/
!/.config/stylebot.json
!/.config/systemd/
!/.config/user-dirs.conf
!/.config/user-dirs.dirs

!/.config/Code
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/keybindings.json
!/.config/Code/User/settings.json
!/.config/Code/Workspaces

!/.config/gtk-*/
/.config/gtk-*/*
!/.config/gtk-*/*.css

!/.config/nix/
!/.config/nixpkgs/
!/.config/nixos/
!/.config/nix-path/
!/.config/nix-flakes/
!/.config/home-manager/

!/.emacs.d/
/.emacs.d/autosave
/.emacs.d/backup

!/.ghc/
/.ghc/*
!/.ghc/ghci.conf
!/.ghc/imports.hs

!/.gradle/
/.gradle/*
!/.gradle/gradle.properties

!/.kde/
/.kde/*
!/.kde/env/
!/.kde/env/*
!/.kde/share/
/.kde/share/*
!/.kde/share/apps
/.kde/share/apps/*
!/.kde/share/apps/konsole/
!/.kde/share/apps/konsole/**

!/.local/
/.local/*
!/.local/bin/
/.local/bin/*
!/.local/bin/.keep
!/.local/share/
/.local/share/*
!/.local/share/applications/
/.local/share/applications/*
!/.local/share/applications/mimeapps.list
!/.local/share/backgrounds/
!/.local/share/backgrounds/*
!/.local/share/fonts/
!/.local/share/fonts/*
/.local/share/fonts/**/.uuid

!/.moc/
/.moc/*
!/.moc/config

!/.mozilla
/.mozilla/*
!/.mozilla/firefox
/.mozilla/firefox/*
!/.mozilla/firefox/chris
/.mozilla/firefox/chris/*
!/.mozilla/firefox/chris/chrome
