/*

!/.bash_profile
!/.bashrc
!/bin/
!/.audacity-files
!/.darcs
!/dropbox
!/.gitignore
!/.haskeline
!/.latexmkrc
!/.password-store
!/.tmux.conf
!/.tmuxp
!/.vimrc

!/yi
/yi/cabal.config

!/.config/
/.config/*
!/.config/autostart/
!/.config/git/
/.config/git/gitk
!/.config/python/
!/.config/stylebot.json
!/.config/sublime/
!/.config/systemd/
!/.config/tmux/
!/.config/user-dirs.conf
!/.config/user-dirs.dirs

!/.config/Code
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/keybindings.json
!/.config/Code/User/settings.json

!/.config/fish/
/.config/fish/*
!/.config/fish/*.fish

!/.config/gtk-*/
/.config/gtk-*/*
!/.config/gtk-*/*.css

!/.config/sublime-text-2/
/.config/sublime-text-2/*
!/.config/sublime-text-2/Packages/
/.config/sublime-text-2/Packages/*
!/.config/sublime-text-2/Packages/User/
/.config/sublime-text-2/Packages/User/*
!/.config/sublime-text-2/Packages/User/Default (Linux).sublime-keymap
!/.config/sublime-text-2/Packages/User/Preferences.sublime-settings
!/.config/sublime-text-2/Packages/User/Haskell.sublime-settings
!/.config/sublime-text-2/Packages/User/nix.sublime-settings
!/.config/sublime-text-2/Packages/User/purescript.sublime-settings
!/.config/sublime-text-2/Packages/User/Markdown Extended.sublime-settings

!/.config/sublime-text-3/
/.config/sublime-text-3/*
!/.config/sublime-text-3/Packages/
/.config/sublime-text-3/Packages/*
!/.config/sublime-text-3/Packages/User/
/.config/sublime-text-3/Packages/User/*
!/.config/sublime-text-3/Packages/User/Default (Linux).sublime-keymap
!/.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!/.config/sublime-text-3/Packages/User/Haskell.sublime-settings
!/.config/sublime-text-3/Packages/User/nix.sublime-settings
!/.config/sublime-text-3/Packages/User/purescript.sublime-settings
!/.config/sublime-text-3/Packages/User/Markdown Extended.sublime-settings

!/.atom/
/.atom/*
!/.atom/config.cson
!/.atom/keymap.cson
!/.atom/styles.less
!/.atom/grammar-config
!/.atom/grammar-config/*

!/.emacs.d/
/.emacs.d/autosave
/.emacs.d/backup

!/.ghc/
/.ghc/*
!/.ghc/ghci.conf
!/.ghc/imports.hs

!/.gradle/
/.gradle/*
!/.gradle/gradle.properties

!/.kde/
/.kde/*
!/.kde/env/
!/.kde/env/*
!/.kde/share/
/.kde/share/*
!/.kde/share/apps
/.kde/share/apps/*
!/.kde/share/apps/konsole/
!/.kde/share/apps/konsole/**

!/.lein/
/.lein/*
!/.lein/profiles.clj

!/.local/
/.local/*
!/.local/bin/
/.local/bin/*
!/.local/bin/.keep
!/.local/share/
/.local/share/*
!/.local/share/applications/
/.local/share/applications/*
!/.local/share/applications/mimeapps.list
!/.local/share/backgrounds/
!/.local/share/backgrounds/*
!/.local/share/fonts/
!/.local/share/fonts/*
/.local/share/fonts/**/.uuid
!/.local/share/npm/
/.local/share/npm/*
!/.local/share/npm/node_modules/
/.local/share/npm/node_modules/*
!/.local/share/npm/node_modules/.bin/
/.local/share/npm/node_modules/.bin/*
!/.local/share/npm/node_modules/.bin/.keep

!/.moc/
/.moc/*
!/.moc/config

!/.mozilla
/.mozilla/*
!/.mozilla/firefox
/.mozilla/firefox/*
!/.mozilla/firefox/chris
/.mozilla/firefox/chris/*
!/.mozilla/firefox/chris/chrome

!/.stack/
/.stack/*
!/.stack/config.yaml
!/.stack/shell.nix
!/.stack/global-project/
/.stack/global-project/*
!/.stack/global-project/stack.yaml

!/nix/
/nix/os/config.nix
/nix/os/hardware.nix
/nix/os/secret.nix
/nix/.idea
/nix/nixpkgs/

!/.xmonad/
/.xmonad/*
!/.xmonad/xmonad.hs
