/config/idea14.key
/config/idea15.key
/config/eval/
/config/fileTemplates/
/config/options/applicationLibraries.xml
/config/options/ClojureUsageStatistics.xml
/config/options/ClojureUsageStatisticsSettings.xml
/config/options/colors.scheme.xml
/config/options/CursiveLicence.xml
/config/options/dimensions.xml
/config/options/feature.usage.statistics.xml
/config/options/filetypes.xml
/config/options/find.recents.xml
/config/options/find.xml
/config/options/images.support.xml
/config/options/jdk.table.xml
/config/options/options.xml
/config/options/packages.xml
/config/options/path.macros.xml
/config/options/project.default.xml
/config/options/recentProjects.xml
/config/options/statistics.application.usages.xml
/config/options/ui.lnf.xml
/config/options/updates.xml
/config/options/window.manager.xml
/config/options/window.state.xml
/config/plugins/
/config/port
/config/port.lock
/config/tasks/
/system/
