"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "exception-reporting"
      "spell-check"
      "welcome"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    audioBeep: false
    projectHome: "/home/chris/git"
    ignoredNames: [
      ".git"
      ".idea"
    ]
  editor:
    invisibles: {}
    backUpBeforeSaving: true
    scrollPastEnd: true
    zoomFontWhenCtrlScrolling: false
  autosave:
    enabled: true
  "local-history": {}
  tabs:
    enableVcsColoring: true
