"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "exception-reporting"
      "spell-check"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    backUpBeforeSaving: true
