"*":
  "autocomplete-plus":
    enableAutoActivation: false
    enableAutoConfirmSingleSuggestion: false
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "exception-reporting"
      "spell-check"
      "welcome"
    ]
    ignoredNames: [
      ".git"
      ".idea"
    ]
    projectHome: "/home/chris/git"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "\"DejaVu Sans Mono\""
    invisibles: {}
    scrollPastEnd: true
    zoomFontWhenCtrlScrolling: false
  "haskell-ghc-mod":
    ghcModPath: "ghc-mod-nix-shell"
    ghcModiPath: "ghc-modi-nix-shell"
  "local-history": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
