'atom-workspace atom-text-editor':
  'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
  'ctrl-left': 'editor:move-to-previous-subword-boundary'
  'ctrl-right': 'editor:move-to-next-subword-boundary'
  'alt-right': 'pane:show-next-item'
  'alt-left': 'pane:show-previous-item'
  'ctrl-y': 'editor:delete-line'
'body':
  'alt-right': 'pane:show-next-item'
  'alt-left': 'pane:show-previous-item'
