/* Hide the file-modified indicator, because with autosave enabled it's a
   rather pointless distraction. https://github.com/atom/tabs/issues/225 */
.tab-bar .tab.modified {
  &, &:hover {
    .close-icon {
      color: @background-color-info;
    }
  }
  &:not(:hover) .close-icon {
    display: none;
  }
}

/* Increase some font sizes. */
.footer {
  font-size: 17px;
}
.tab-bar {
  height: 52px;
  .tab, .tab.active {
    font-size: 17px;
  }
}

/* https://github.com/tonsky/FiraCode/wiki/Atom-instructions */
atom-text-editor {
  text-rendering: optimizeLegibility;
}

/* Fixes to the Glacier dark theme, mostly aimed at improving color contrast. */
.theme-glacier-dark-ui {

  atom-panel-container {
    &.left { border-right: 1px solid rgba(255, 255, 255, 0.3); }
    &.right { border-left: 1px solid rgba(255, 255, 255, 0.3); }
  }

  .tab-bar {
    background-color: #003971;
    .tab, .tab .title, .tab.active, .tab.active .title {
      border-left: 0;
      border-right: 0;
      background: none;
      -webkit-mask: none;
    }
    .tab::after, .tab::before {
      background: none;
       border: 0;
     }
    .tab.active .title {
      border-bottom: 4px solid cyan;
    }
  }

  .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    .status-bar {
      background-color: #003971;
    }
  }

  atom-text-editor.editor {
    .lines {
      border-left: 1px solid rgba(255, 255, 255, 0.15);
    }
    .wrap-guide {
      background-color: rgba(255, 255, 255, 0.15);
    }
    .comment {
      color: #88cc88 !important;
    }
    .line.cursor-line {
      background-color: #112233;
    }
    .line-number.cursor-line {
      color: cyan;
    }
    .highlight.find-result .region {
      border: 0;
      border-bottom: 2px solid #cc44cc;
    }
    .highlight.current-result .region {
      border: 0;
      border-bottom: 4px solid #ff00ff;
    }

    /* The Haskell highlighter tags Prelude functions differently from other
       things; this is an attempt to rectify that. */
    .haskell {
      .support {
        color: #3cadd7;
        font-weight: normal;
      }
      .support.function {
        color: white;
        font-weight: normal;
      }
      .type, .support.class {
        color: #C2C58C;
        font-weight: bold;
      }
    }

    /* Mellow out this color which is a bright red by default. */
    .keyword {
      color: #D0ADFF;
    }
  }
}
