/config/idea14.key
/config/options/dimensions.xml
/config/options/feature.usage.statistics.xml
/config/options/recentProjects.xml
/config/options/statistics.application.usages.xml
/config/options/window.manager.xml
/config/plugins/
/config/tasks/
/system/
