/*
!/.gitignore
!/autostart/
!/dconf/
/dconf/*
!/dconf/setup-*.sh
!/fish/
/fish/*
!/fish/config.fish
!/git/
/git/gitk
!/sublime-text-2/
/sublime-text-2/*
!/sublime-text-3/
/sublime-text-3/*
!/systemd/
!/user-dirs.conf
!/user-dirs.dirs
